<launch>

  <!-- This is the main state machine for interaction and PbD -->
  
  <node name="pr2_pbd_interaction" pkg="pr2_pbd_interaction" type="interaction.py" output="screen">
    <param name="dataRoot" value="$(find pr2_pbd_interaction)" />
  </node>
  
  <!-- This is the GUI that lets you send speech commands with buttons and displays what the robot would say -->
  
  <node name="pr2_pbd_gui" pkg="rqt_gui" type="rqt_gui" output="screen"></node>

  <!-- This makes the robot look around appropriately -->

  <include file="$(find pr2_social_gaze)/launch/gaze.launch"/>

  <!-- This is needed for motion planning -->

  <node pkg="pr2_arm_kinematics" type="pr2_arm_kinematics_node" name="pr2_left_arm_kinematics" output="screen">
   <param name="tip_name" value="l_wrist_roll_link" />
   <param name="root_name" value="torso_lift_link" />
   <param name="maxIterations" value="10000" />
  </node>

  <node pkg="pr2_arm_kinematics" type="pr2_arm_kinematics_node" name="pr2_right_arm_kinematics" output="screen">
   <param name="tip_name" value="r_wrist_roll_link" />
   <param name="root_name" value="torso_lift_link" />
   <param name="maxIterations" value="10000" />
  </node>

  <!-- This is needed for filling in the velocity of replayed trajectories -->

  <node pkg="trajectory_filter_server" name="trajectory_filter" type="trajectory_filter_server" output="screen">
   <rosparam command="load" file="$(find trajectory_filter_server)/config/joint_limits.yaml"/>
   <rosparam command="load" file="$(find pr2_pbd_interaction)/config/filters.yaml"/>
  </node>
  
  <!-- This is the interactive manipulation stuff for visualization (this will run RVIZ) -->

  <include file="$(find pr2_pbd_interaction)/launch/pr2_interactive_manipulation_desktop.launch" >
    <arg name="sim" value="true" />
  </include>

</launch>
