<launch>

  <!-- This is the main state machine for interaction and PbD -->
  <arg name="isReload" value="False" />
  <arg name="dataRoot" value="$(env HOME)" />
  <arg name="experimentNumber" value="0" />

  <include file="$(find pr2_interactive_manipulation)/launch/pr2_interactive_manipulation_robot.launch" >
    <arg name="sim" value="true" />
  </include>

  <node name="pr2_pbd_interaction" pkg="pr2_pbd_interaction" type="interaction.py" output="screen">
    <param name="dataRoot" value="$(arg dataRoot)" />
    <param name="isReload" value="$(arg isReload)" />
    <param name="experimentNumber" value="$(arg experimentNumber)" />
  </node>
</launch>
