<launch>

  <!-- This is Gazebo with a table and an object. To run on the real robot you would instead just 'robot start' -->

  <include file="$(find pr2_gazebo)/launch/pr2_table_object.launch"/>

  <include file="$(find pr2_interactive_manipulation)/launch/pr2_interactive_manipulation_robot.launch" >
    <arg name="sim" value="true" />
  </include>

</launch>
